.service-banner-section {
    margin-top: 130px;

    .service-banner-text {
        h2 {
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 50px;
        }
    }

    .service-banner-img {
        text-align: center;
        padding-top: 80px;
        margin-bottom: -100px;
    }
}