.about-section {
    height: 750px;
    
    .about-banner-text {
        h2 {
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 50px;
        }
    }


    .about-banner-img {
        text-align: center;
        position: relative;

        img {
            margin: 0 10px;

            &:nth-child(2) {
                margin-top: 120px;
            }
        }

        .pattern {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 0;
            z-index: -1;
        }
    }
}