.service-box {
    border: 1px solid #1819451a;
    padding: 15px;
    border-radius: 32px;
    text-align: center;
    margin-bottom: 30px;

    .icon-area {
        background: #DBDEFA;
        padding: 80px;
        border-radius: 30px;
        margin-bottom: 30px;

        .icon-box {
            margin: auto;
        }
    }

    .service-text {
        h3 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
        }
    }
}