@import '../../sass/colors.scss';

.symptoms-section {
    margin-top: 150px;
    background: #FADBE2;

    .section-title {
        text-align: center;

        p {
            max-width: 700px;
            margin: auto;
        }
    }

}