@import '../../sass//colors.scss';

.expert-section {
    padding: 100px 0 150px 100px;

    .section-title {
        margin-bottom: 30px;

        h2 {
            max-width: inherit;
        }
    }

    .expert-text {
        ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                margin-bottom: 10px;
                font-weight: 500;

                svg {
                    color: $color-blue;
                    margin-right: 15px;
                    top: -1px;
                    position: relative;
                }
            }
        }
    }
}

.expert-img {
        text-align: left;
        margin-right: 60px;
        position: relative;
        z-index: 1;
        margin-bottom: 30px;

        &::before {
            position: absolute;
            content: "";
            width: 45%;
            height: 125%;
            top: -12%;
            right: 0%;
            background: #FADBE2;
            z-index: -1;
            border-radius: 20px;
        }
}